html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

h1 {
  color: #fff;
  padding: 10px;
}

.container {
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.box-holder {
  margin: 0;
  padding: 0;
  max-width: 400px;
  flex: 1;
}

.box {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
  transition: transform 0.2s;
}

#newHeading {
  outline: solid #a683e3;
  background-color: #fff;
  text-align: left;
}

form[action="/deleteList"] {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}

#heading:hover > form[action="/deleteList"] {
  opacity: 1;
}

#heading:hover {
  transform: scale(1.05);
}

.deleteList {
  position: absolute;
  display: flex;
  top: -15px;
  left: -25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #fff;
  font-size: 20px;
  border-width: 0;
  justify-content: center;
  align-items: center;
}

form.edit {
  display: flex;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.listForm {
  min-height: 70px;
  align-items: center;
  display: none;
  grid-template: 
    "text" "text" "text"
    "color" "color" "color"
    "..." "button" "..."
  ;
  margin: 0;
  outline: 4px solid #a683e3;
}

.listForm > div:first-child {
  grid-area: text;
}

.listForm div:first-child + div {
  grid-area: color;
}

#createList {
  grid-area: button;
  height: 40px;
  margin: 10px 50px;
  border: 3px solid #a683e3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.item:last-child {
  border-bottom: 0;
}

#newListTitle {
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}

p:first-of-type {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #00204a;
  text-align: left;
  flex: 1;
}

p+p {
  margin: 0;
  padding: 20px 0 20px 10px;
  font-size: 20px;
  color: #00204a;
  text-align: center;
}

.container div:last-child {
  text-align: left;
  margin-top: 50px;
}

form {
  text-align: center;
  margin-left: 20px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.icon {
  height: 20px;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
input[type="radio"]:checked + label .red {
  border: 2px solid #711313;
}
input[type="radio"]:checked + label .orange {
  border: 2px solid #873a08;
}
input[type="radio"]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type="radio"]:checked + label .olive {
  border: 2px solid #505a0b;
}
input[type="radio"]:checked + label .green {
  border: 2px solid #0e4e1d;
}
input[type="radio"]:checked + label .teal {
  border: 2px solid #003633;
}
input[type="radio"]:checked + label .blue {
  border: 2px solid #103f62;
}
input[type="radio"]:checked + label .violet {
  border: 2px solid #321a64;
}
input[type="radio"]:checked + label .purple {
  border: 2px solid #501962;
}
input[type="radio"]:checked + label .pink {
  border: 2px solid #851554;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #db2828;
}
label span.orange {
  background: #f2711c;
}
label span.yellow {
  background: #fbbd08;
}
label span.olive {
  background: #b5cc18;
}
label span.green {
  background: #21ba45;
}
label span.teal {
  background: #00b5ad;
}
label span.blue {
  background: #2185d0;
}
label span.violet {
  background: #6435c9;
}
label span.purple {
  background: #a333c8;
}
label span.pink {
  background: #e03997;
}

#colorPicker {
  margin: 20px 0;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

footer {
  flex: 0 0 auto;
  color: white;
  text-align: center;
}